## Development
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/service-request-board?retryWrites=true&w=majority
CLIENT_URL=http://localhost:3000
NODE_ENV=development
JWT_SECRET=replace_this_with_a_long_random_secret_string
JWT_EXPIRE=7d

## Production
# PORT is provided by Railway automatically
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/service-request-board?retryWrites=true&w=majority
# CLIENT_URL=https://service-request-board-52k9t7cfm.vercel.app
# NODE_ENV=production
# JWT_SECRET=<strong-random-secret>
# JWT_EXPIRE=7d

## Frontend environment example
# NEXT_PUBLIC_API_URL=https://<your-railway-backend-url>/api
